$font-family-base:'Ubuntu', sans-serif;

$nav-link-padding-x : 1rem;
$nav-link-padding-y : 0.5rem;

//forms input varibles
$input-btn-padding-y:1rem;
$input-btn-padding-x:1rem;

$input-btn-border-width:1px;
$input-focus-box-shadow: none;

$input-padding-y:0.85rem;
$input-padding-x:1rem;

$input-group-addon-bg:$white;
$input-group-addon-padding-x:0.5rem;
$input-group-addon-padding-y:0.75rem;
$input-border-radius:0.5rem;
$btn-border-radius:$input-border-radius;
$btn-padding-x :1.5rem;
$btn-padding-y :0.75rem;
$placeholder-opacity-max:0.5;


//button sccs
$btn-focus-width:0px;

//rounded
$border-radius:0.5rem;